body {
  margin: 8px;
  font: 300 11px/1.4 'Deansgate', 'regular';
  background-color: #100f0f6e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  font-size: xx-large;
}
