body {
  margin: 8px;
  font: 300 18px/1.4 'Microgramma', 'regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {

  text-align: center;
  font-stretch: ultra-expanded;
  text-size-adjust: 100%;
}
